
@keyframes slowSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: slowSpin 12s linear infinite;
}

.top-mask {
  background: linear-gradient(
    0deg,
    rgba(42, 123, 155, 0) 83%,
    rgba(255, 181, 97, 0.12) 100%
  );
}

.panel-para {
  font-size: 10px;
}

.chev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.chev-1 {
  animation: chevron-conveyor 3s ease-in-out infinite;
}

.chev-2 {
  animation: chevron-conveyor 3s ease-in-out infinite;
  animation-delay: 1s;
}

.chev-3 {
  animation: chevron-conveyor 3s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes chevron-conveyor {
  0% {
    transform: translateX(-10px) translateY(-50%);
    opacity: 0;
  }

  25% {
    transform: translateX(0px) translateY(-50%);
    opacity: 1;
  }

  60% {
    transform: translateX(12px) translateY(-50%);
    opacity: 1;
  }

  85% {
    transform: translateX(24px) translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(24px) translateY(-50%);
    opacity: 0;
  }
}

@keyframes missionFloatY {
  0% {
    --y: 0px;
  }
  50% {
    --y: -14px;
  }
  100% {
    --y: 0px;
  }
}

@keyframes missionFloatX {
  0% {
    --x: 0px;
  }
  50% {
    --x: 8px;
  }
  100% {
    --x: 0px;
  }
}

@keyframes missionBreathe {
  0% {
    --s: 1;
  }
  50% {
    --s: 1.05;
  }
  100% {
    --s: 1;
  }
}

#mission-circle-1 {
  --x: 0px;
  --y: 0px;
  --s: 1;

  transform: translateX(var(--x)) translateY(var(--y)) scale(var(--s));

  animation:
    missionFloatY 12s ease-in-out infinite,
    missionFloatX 18s ease-in-out infinite,
    missionBreathe 10s ease-in-out infinite;

  animation-delay:
    -4s,
    /* Y */ -7s,
    /* X */ -2s; /* scale */

  will-change: transform;
}

#mission-circle-2 {
  --x: 0px;
  --y: 0px;
  --s: 1;

  transform: translateX(var(--x)) translateY(var(--y)) scale(var(--s));

  animation:
    missionFloatY 12s ease-in-out infinite,
    missionFloatX 18s ease-in-out infinite,
    missionBreathe 10s ease-in-out infinite;

  animation-delay:
    -2s,
    /* Y */ -6s,
    /* X */ -4s; /* scale */

  will-change: transform;
}

#mission-circle-3 {
  --x: 0px;
  --y: 0px;
  --s: 1;

  transform: translateX(var(--x)) translateY(var(--y)) scale(var(--s));

  animation:
    missionFloatY 12s ease-in-out infinite,
    missionFloatX 18s ease-in-out infinite,
    missionBreathe 10s ease-in-out infinite;

  animation-delay:
    -8s,
    /* Y */ -3s,
    /* X */ -5s; /* scale */

  will-change: transform;
}