/* .project-title {
  font-size: 50px;
  
} */

.mission-border {
  border-width: 0.2px;
}

.shadow-fade {
  background: linear-gradient(to right, rgba(0, 0.25), transparent);
}

.title-fill {
  line-height: 1.5;
  color: rgb(207, 207, 207, 0.8); /* base visible text */

  background-image: linear-gradient(to right, white, white);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left;

  -webkit-background-clip: text;
  background-clip: text;

  transition: background-size 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.group:hover .title-fill {
  background-size: 100% 100%;
}
